<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhemu.paperinsight.mapper.FolderMapper">

    <resultMap id="BaseResultMap" type="com.zhemu.paperinsight.model.entity.Folder">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="userId" column="user_id" />
            <result property="parentId" column="parent_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,user_id,parent_id,create_time,update_time,
        is_delete
    </sql>

    <!-- 查询已删除的文件夹 (MyBatis-Plus 默认会过滤 is_delete=1，所以手动写 SQL) -->
    <select id="selectDeletedFolders" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM folder
        WHERE user_id = #{userId} AND is_delete = 1
    </select>

    <!-- 还原文件夹 (is_delete = 0) -->
    <update id="restoreFolder">
        UPDATE folder
        SET is_delete = 0
        WHERE id = #{id}
    </update>

    <!-- 物理删除文件夹 -->
    <delete id="physicalDeleteFolder">
        DELETE FROM folder
        WHERE id = #{id}
    </delete>
</mapper>
